<%= form_for @person do |f| %>
  <form>
    <%= render 'flash_messages' %>
    <div class="form-group">
      <%= f.label 'First name' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Last name' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Email' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Job' %>
      <%= f.text_field :job, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Gender' %>
      <%= f.select :gender, options_for_select(@genders.collect {|g|[g,g]}, selected: @person.gender), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Bio' %>
      <%= f.text_area :bio, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Birthday' %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Picture URL' %>
      <%= f.text_field :picture, class: 'form-control' %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </form>
<% end %>
